@inherits LayoutComponentBase



<MudDialogProvider />
<MudSnackbarProvider />
<MudThemeProvider Theme="@_currentTheme" IsDarkMode="_isDarkMode" @ref="_mudThemeProvider"></MudThemeProvider>

@*


<MudDrawer @bind-Open="_open"
           Anchor="@_anchor"
           Elevation="1"
           Variant="@DrawerVariant.Temporary"
           OverlayAutoClose="@_overlayAutoClose"
           Fixed="true">
    <MudDrawerHeader>
        <MudText Typo="Typo.h6">INNOXEL</MudText>
    </MudDrawerHeader>
    
    <MudNavMenu>
        <MudDrawerContainer>
            <MudDivider Class="my-2" />
            <MudNavLink Icon="@Icons.Material.TwoTone.LiveHelp" Title="Wissensdatenbank" Target="_blank" Href="http://zidatech.freshdesk.com/support/home">Wissensdatenbank</MudNavLink>
            <MudNavLink Icon="@Icons.Material.TwoTone.ScreenSearchDesktop" Href="https://get.teamviewer.com/qygkh96" Target="_blank"  Title="Teamviewer">Teamviewer</MudNavLink>
            <MudNavGroup Icon="@Icons.Material.TwoTone.Download" Title="Downloads" Expanded="true">
                <MudNavLink Icon="@Icons.Material.TwoTone.InstallDesktop" Title="Software" Href="/software">Software</MudNavLink>

                <MudNavLink Icon="@Icons.Material.TwoTone.ConnectWithoutContact" Title="Partner-Login" Href="/users">Partner-Login</MudNavLink>
                <MudNavLink Icon="@Icons.Material.TwoTone.InsertDriveFile" Title="Anleitungen" Href="/manuals">Anleitungen</MudNavLink>
                <MudNavLink Icon="@Icons.Material.TwoTone.InsertDriveFile" Title="Musterschemata" Href="/users">Musterschemata</MudNavLink>
                <MudNavLink Icon="@Icons.Material.TwoTone.InsertDriveFile" Title="CAD-Symbole" Href="/security">CAD-Symbole</MudNavLink>
                <MudNavLink Title="EIT-Schulung" Icon="@Icons.Material.TwoTone.School" Href="/security">EIT-Schulung</MudNavLink>

            </MudNavGroup>

        </MudDrawerContainer>
        <MudDivider
        ></MudDivider>
        <MudNavLink Title="Online Shop" Icon="@Icons.Material.TwoTone.ShoppingCart" Href="/about">Online Shop</MudNavLink>
        <MudNavLink Title="Kontakt" Icon="@Icons.Material.TwoTone.ContactPhone" Href="/about">Kontakt</MudNavLink>
        <MudNavLink Title="Offene Stellen" Icon="@Icons.Material.TwoTone.Work" Href="/about">Offene Stellen</MudNavLink>

    </MudNavMenu>
</MudDrawer>

*@







<MudLayout>


    <MudLayout>

        <!-- Desktop AppBar -->
        <MudHidden Breakpoint="Breakpoint.SmAndDown">
            <MudAppBar Elevation="1" Color="Color.Dark" Fixed="true" Class="cuddly-white-appbar">
                <div class="d-flex align-center w-100">
                    <!-- Compact Logo Only -->
                    <div class="d-flex align-center" style="flex-shrink: 0; width: 120px; margin-right: 2rem;">

                        <a href="./">

                        <svg class="logo-svg"  style="width: 80%; height: 80%; margin-top:5%;" viewBox="0 0 396.3 104.01" preserveAspectRatio="xMinYMid meet">
                                    <defs>
                                        <style>
                                            .cls-1 {
                                                stroke-miterlimit: 10;
                                                stroke-width: .18px;
                                            }

                                            .cls-1, .cls-2, .cls-3, .cls-4 {
                                                fill: none;
                                            }

                                            .cls-1, .cls-2, .cls-5, .cls-6, .cls-4 {
                                                stroke: #fff;
                                            }

                                            .cls-2 {
                                                stroke-width: .32px;
                                            }

                                            .cls-3, .cls-7, .cls-8 {
                                                stroke-width: 0px;
                                            }

                                            .cls-7, .cls-5 {
                                                fill: #fff;
                                            }

                                            .cls-8, .cls-6 {
                                            fill: #3c3c3b;
                                            }

                                            .cls-5 {
                                                stroke-width: 2.16px;
                                            }

                                            .cls-6, .cls-4 {
                                                stroke-width: .05px;
                                            }

                                            .cls-9 {
                                                clip-path: url(#clippath);
                                            }
                                        </style>
                                        <clipPath id="clippath">
                                            <rect class="cls-3" x="206.33" width="88.92" height="88.92"></rect>
                                        </clipPath>
                                    </defs>
                                    <path class="cls-7" d="M1.23,75.29h12.89V16.69H1.23v58.6h0ZM25.44,75.29h12.07v-39.23h.16l24.38,39.23h12.89V16.69h-12.07v39.32h-.16l-24.46-39.32h-12.8v58.6h0ZM86.26,75.29h12.07v-39.23h.16l24.38,39.23h12.89V16.69h-12.07v39.32h-.16l-24.46-39.32h-12.8v58.6h0ZM144.54,46.24c0,16.91,10.67,30.45,28.81,30.45s28.81-13.54,28.81-30.45-10.67-30.94-28.81-30.94-28.81,13.54-28.81,30.94h0ZM157.42,46.24c0-10.26,4.35-20.11,15.92-20.11s15.92,9.85,15.92,20.11-4.35,19.62-15.92,19.62-15.92-9.85-15.92-19.62h0Z"></path>
                                    <path class="cls-7" d="M301.67,75.5h44.49v-10.83h-31.6v-14.36h28.4v-10.01h-28.4v-12.56h30.94v-10.83h-43.83v58.6h0ZM354.86,75.5h41.45v-10.83h-28.56V16.89h-12.89v58.6h0Z"></path>
                                    <path class="cls-1" d="M294.03,44.46c0,23.88-19.35,43.23-43.23,43.23s-43.23-19.35-43.23-43.23S226.92,1.23,250.8,1.23s43.23,19.35,43.23,43.23"></path>
                                    <g class="cls-9">
                                        <path class="cls-5" d="M294.03,44.46c0,23.88-19.35,43.23-43.23,43.23s-43.23-19.35-43.23-43.23S226.92,1.23,250.8,1.23s43.23,19.35,43.23,43.23h0Z"></path>
                                    </g>
                                    <path class="cls-8" d="M217.57,71.34s-3.13-.94,1.8,1.32l3.86,2,2.69,1.75,2.93,1.21s.33-.17,1.58-1.71c.62-.77,1.47-1.88,2.61-3.48,1.12-1.61,2.69-3.61,4.55-6.27,0,0,.25-.23.67-.68.42-.44,1.06-1.07,1.78-1.9.73-.82,1.55-1.83,2.41-3,.85-1.18,1.82-2.45,2.7-3.92,0,0,.39-.67,1.08-1.84.72-1.15,1.76-2.79,3.01-4.77,2.57-3.9,6.16-9.01,10.23-13.95,4.04-4.95,8.58-9.79,12.24-13.83,3.66-4.04,6.3-7.32,6.64-8.41,0,0-.34.42-.93,1.15-.6.71-1.46,1.72-2.49,2.94-2.05,2.32-4.8,5.44-7.59,8.6-2.71,3.1-5.37,6.21-7.37,8.69-2.05,2.44-3.44,4.25-3.94,4.47,0,0,.27-.38.74-1.04.48-.66,1.13-1.63,2-2.75.86-1.13,1.82-2.47,2.96-3.88.56-.71,1.14-1.45,1.73-2.2.61-.75,1.23-1.51,1.85-2.28,2.51-3.07,5.16-6.22,7.2-8.86,1.02-1.3,1.88-2.5,2.5-3.44.62-.94,1-1.64,1.05-2.02,0,0-.3.39-.86,1.03-.55.64-1.35,1.57-2.31,2.68-1.93,2.19-4.56,5.06-7.2,7.92-5.33,5.69-10.4,11.72-12.06,12.06,0,0,.24-.35.67-.97.43-.62,1.03-1.51,1.81-2.56,1.53-2.12,3.63-4.95,5.9-7.84,2.24-2.9,4.64-5.89,6.48-8.42,1.85-2.53,3.13-4.62,3.33-5.6,0,0-.78,1.1-1.72,2.3-.95,1.19-2.06,2.49-2.66,2.89l1.32-2.21-2.81,2.86-1.31,1.98s3.75-5.17,3.51-6.02c0,0,.37-.62,0,0-.36.63-1.77,2.19-5.96,6.04,0,0-.24.35-.74,1.01-.5.65-1.24,1.62-2.23,2.85-2,2.46-4.99,5.97-8.84,10.39-3.87,4.46-8.57,9.88-13.98,16.11-5.45,6.31-11.7,13.55-18.85,21.59"></path>
                                    <path class="cls-8" d="M237.89,7.68s.34-1.23-2.06,1.86l-3.54,4.12-2.82,2.84-2.38,3.17s.03.4,1.02,1.95c.49.79,1.24,1.81,2.26,3.33.52.75,1.12,1.59,1.82,2.55.68.97,1.45,2.07,2.32,3.3,0,0,.47,1.21,1.45,3.03.49.91,1.14,1.93,1.9,3.05.77,1.13,1.69,2.31,2.78,3.48,0,0,.5.53,1.38,1.46.88.93,2.15,2.25,3.65,3.9,3.03,3.26,7.01,7.78,11.02,12.49,8.03,9.4,16.29,19.57,18.36,20.36,0,0-5.09-5.7-10.34-11.57-5.19-5.87-10.55-11.71-10.72-12.77,0,0,5.01,5.19,10.22,10.59,5.25,5.43,10.83,11.11,12.36,11.39,0,0-4.78-5.31-9.5-10.95-4.71-5.66-9.49-11.55-9.18-13.39,0,0,4.57,4.59,9.55,9.48,4.98,4.87,10.41,10,12.45,10.48,0,0-3.82-3.43-4.34-4.7l2.04,1.4-2.31-2.98-1.79-1.38s1.25.91,2.62,1.79c1.38.88,1.81,1.41,2.32,1.3,0,0,.05.08-.08,0-.59-.37-1.14-1.25-4.13-5.67,0,0-1.26-1.03-3.34-3.16-2.06-2.14-4.95-5.37-8.24-9.78-3.31-4.39-7.03-9.94-11.05-16.72-4.05-6.8-8.32-14.77-13.76-24.24"></path>
                                    <polygon class="cls-8" points="218.7 73.51 226.65 80.43 249.99 48.37 218.7 73.51"></polygon>
                                    <polygon class="cls-1" points="218.7 73.51 226.65 80.43 249.99 48.37 218.7 73.51 218.7 73.51"></polygon>
                                    <polyline class="cls-2" points="218.7 73.51 218.7 73.51 226.65 80.43 249.99 48.37"></polyline>
                                    <polygon class="cls-8" points="236.51 8.92 225.2 21.18 245.45 45.78 236.51 8.92"></polygon>
                                    <polygon class="cls-8" points="257.45 30.67 268.48 20.16 253.09 38.11 257.45 30.67"></polygon>
                                    <path class="cls-1" d="M256.21,50.68s6.93,8.98,6.93,9.75,6.16,8.46,6.16,8.46l-13.85-13.85.77-4.36h0Z"></path>
                                    <path class="cls-4" d="M256.21,50.68h0s6.93,8.98,6.93,9.75,6.16,8.46,6.16,8.46"></path>
                                    <path class="cls-1" d="M253.1,44.66s6.93,8.98,6.93,9.75,6.16,8.46,6.16,8.46l-13.85-13.85.77-4.36h0Z"></path>
                                    <path class="cls-6" d="M260.03,54.4c0,.77,6.16,8.46,6.16,8.46l-13.85-13.85.77-4.36h0"></path>
                        </svg>

                        </a>
                    </div>

                    <!-- Navigation Buttons - Full width container -->
                    <div class="d-flex align-center flex-grow-2" style="width: 100vw; min-width: 0;">
                        <div class="d-flex align-center justify-space-between w-100" style="gap: 0.5rem; width:80%">
                            <MudButton StartIcon="@Icons.Material.TwoTone.LiveHelp"
                                       Href="./products"
                                       Variant="Variant.Text"
                                       Style="flex: 2; min-width: 200px;"
                                       Color="Color.Inherit">
                                Produkte
                            </MudButton>
                            <MudButton StartIcon="@Icons.Material.TwoTone.LiveHelp"
                                       Href="./renderfrag"
                                       Variant="Variant.Text"
                                       Style="flex: 2; min-width: 200px;"
                                       Color="Color.Inherit">
                                Wissensdatenbank
                            </MudButton>

                            <MudButton StartIcon="@Icons.Material.TwoTone.ScreenSearchDesktop"
                                       Href="https://get.teamviewer.com/qygkh96"
                                       Variant="Variant.Text"
                                       Style="flex: 2; min-width: 120px;"
                                       Color="Color.Inherit">
                                Teamviewer
                            </MudButton>

                            <!-- Downloads Dropdown -->
                            <div style="flex: 2; min-width: 120px;">
                                <div class="downloads-dropdown">
                                    <!-- MudButton as activator -->
                                    <MudButton StartIcon="@Icons.Material.TwoTone.Download"
                                               Variant="Variant.Text"
                                               Color="Color.Inherit"
                                               Style="width:100%;">
                                        Downloads
                                    </MudButton>

                                    <!-- Plain HTML dropdown -->
                                    <div class="downloads-content">
                                        <MudButton StartIcon="@Icons.Material.TwoTone.InstallDesktop"
                                                   Variant="Variant.Text"
                                                   Color="Color.Inherit"
                                                   Style="width:100%;"
                                        Href="./software">
                                            Software
                                        </MudButton>

                                        <MudButton StartIcon="@Icons.Material.TwoTone.InsertDriveFile"
                                                   Variant="Variant.Text"
                                                   Color="Color.Inherit"
                                                   Style="width:100%;"
                                                   Href="./manuals">

                                            CAD-Symbole
                                        </MudButton>
                                        
                                        <MudButton StartIcon="@Icons.Material.TwoTone.ConnectWithoutContact"
                                                               Variant="Variant.Text"
                                                               Color="Color.Inherit"
                                                               Style="width:100%;"
                                        Href="">
                                            Partner-Login
                                        </MudButton>
                                        
                                       
                             
                                    </div>
                                </div>
                            </div>

                            <!-- Other Buttons -->
                            <MudButton StartIcon="@Icons.Material.TwoTone.ShoppingCart"
                                       Href="https://www.zidatech.ch/kategorien/gebaeudeautomation/innoxel"
                                       Target="_blank"
                                       Variant="Variant.Text"
                                       Style="flex: 2; min-width: 120px;"
                                       Color="Color.Inherit">
                                Online Shop
                                <!-- HREF direkt auf Kategorie INNOXEL-->
                            </MudButton>

                            <MudButton StartIcon="@Icons.Material.TwoTone.ContactPhone"
                                       Href="./trycontact"
                                       Variant="Variant.Text"
                                       Style="flex: 2; min-width: 100px;"
                                       Color="Color.Inherit">
                                Kontakt
                            </MudButton>

                            <MudButton StartIcon="@Icons.Material.TwoTone.Work"
                                       Href="https://www.zidatech.ch/uebersicht-ueber-uns/stellen"
                                       Target="_blank"
                                       Variant="Variant.Text"
                                       Style="flex: 2; min-width: 140px;"
                                       Color="Color.Inherit">
                                Offene Stellen
                            </MudButton>

                            <MudSpacer>

                            </MudSpacer>
                            <MudIconButton Icon="@_themeIcon" OnClick="ToggleTheme" Color="Color.Inherit" />
                        </div>
                    </div>
                </div>
            </MudAppBar>
        </MudHidden>


        <!-- Mobile AppBar -->
        <MudHidden Breakpoint="Breakpoint.MdAndUp">
            <MudAppBar Elevation="1" Color="Color.Dark" Fixed="true" Class="cuddly-white-appbar">
                <div class="d-flex align-center justify-space-between w-100">
                  
                    <!-- Compact Logo Only -->
                    <div class="d-flex align-center" style="flex-shrink: 0; width: 120px; margin-right: 2rem;">

                        <a href="./">

                            <svg class="logo-svg" style="width: 80%; height: 80%; margin-top:5%;" viewBox="0 0 396.3 104.01" preserveAspectRatio="xMinYMid meet">
                                <defs>
                                    <style>
                                        .cls-1 {
                                            stroke-miterlimit: 10;
                                            stroke-width: .18px;
                                        }

                                        .cls-1, .cls-2, .cls-3, .cls-4 {
                                            fill: none;
                                        }

                                        .cls-1, .cls-2, .cls-5, .cls-6, .cls-4 {
                                            stroke: #fff;
                                        }

                                        .cls-2 {
                                            stroke-width: .32px;
                                        }

                                        .cls-3, .cls-7, .cls-8 {
                                            stroke-width: 0px;
                                        }

                                        .cls-7, .cls-5 {
                                            fill: #fff;
                                        }

                                        .cls-8, .cls-6 {
                                            fill: #3c3c3b;
                                        }

                                        .cls-5 {
                                            stroke-width: 2.16px;
                                        }

                                        .cls-6, .cls-4 {
                                            stroke-width: .05px;
                                        }

                                        .cls-9 {
                                            clip-path: url(#clippath);
                                        }
                                    </style>
                                    <clipPath id="clippath">
                                        <rect class="cls-3" x="206.33" width="88.92" height="88.92"></rect>
                                    </clipPath>
                                </defs>
                                <path class="cls-7" d="M1.23,75.29h12.89V16.69H1.23v58.6h0ZM25.44,75.29h12.07v-39.23h.16l24.38,39.23h12.89V16.69h-12.07v39.32h-.16l-24.46-39.32h-12.8v58.6h0ZM86.26,75.29h12.07v-39.23h.16l24.38,39.23h12.89V16.69h-12.07v39.32h-.16l-24.46-39.32h-12.8v58.6h0ZM144.54,46.24c0,16.91,10.67,30.45,28.81,30.45s28.81-13.54,28.81-30.45-10.67-30.94-28.81-30.94-28.81,13.54-28.81,30.94h0ZM157.42,46.24c0-10.26,4.35-20.11,15.92-20.11s15.92,9.85,15.92,20.11-4.35,19.62-15.92,19.62-15.92-9.85-15.92-19.62h0Z"></path>
                                <path class="cls-7" d="M301.67,75.5h44.49v-10.83h-31.6v-14.36h28.4v-10.01h-28.4v-12.56h30.94v-10.83h-43.83v58.6h0ZM354.86,75.5h41.45v-10.83h-28.56V16.89h-12.89v58.6h0Z"></path>
                                <path class="cls-1" d="M294.03,44.46c0,23.88-19.35,43.23-43.23,43.23s-43.23-19.35-43.23-43.23S226.92,1.23,250.8,1.23s43.23,19.35,43.23,43.23"></path>
                                <g class="cls-9">
                                    <path class="cls-5" d="M294.03,44.46c0,23.88-19.35,43.23-43.23,43.23s-43.23-19.35-43.23-43.23S226.92,1.23,250.8,1.23s43.23,19.35,43.23,43.23h0Z"></path>
                                </g>
                                <path class="cls-8" d="M217.57,71.34s-3.13-.94,1.8,1.32l3.86,2,2.69,1.75,2.93,1.21s.33-.17,1.58-1.71c.62-.77,1.47-1.88,2.61-3.48,1.12-1.61,2.69-3.61,4.55-6.27,0,0,.25-.23.67-.68.42-.44,1.06-1.07,1.78-1.9.73-.82,1.55-1.83,2.41-3,.85-1.18,1.82-2.45,2.7-3.92,0,0,.39-.67,1.08-1.84.72-1.15,1.76-2.79,3.01-4.77,2.57-3.9,6.16-9.01,10.23-13.95,4.04-4.95,8.58-9.79,12.24-13.83,3.66-4.04,6.3-7.32,6.64-8.41,0,0-.34.42-.93,1.15-.6.71-1.46,1.72-2.49,2.94-2.05,2.32-4.8,5.44-7.59,8.6-2.71,3.1-5.37,6.21-7.37,8.69-2.05,2.44-3.44,4.25-3.94,4.47,0,0,.27-.38.74-1.04.48-.66,1.13-1.63,2-2.75.86-1.13,1.82-2.47,2.96-3.88.56-.71,1.14-1.45,1.73-2.2.61-.75,1.23-1.51,1.85-2.28,2.51-3.07,5.16-6.22,7.2-8.86,1.02-1.3,1.88-2.5,2.5-3.44.62-.94,1-1.64,1.05-2.02,0,0-.3.39-.86,1.03-.55.64-1.35,1.57-2.31,2.68-1.93,2.19-4.56,5.06-7.2,7.92-5.33,5.69-10.4,11.72-12.06,12.06,0,0,.24-.35.67-.97.43-.62,1.03-1.51,1.81-2.56,1.53-2.12,3.63-4.95,5.9-7.84,2.24-2.9,4.64-5.89,6.48-8.42,1.85-2.53,3.13-4.62,3.33-5.6,0,0-.78,1.1-1.72,2.3-.95,1.19-2.06,2.49-2.66,2.89l1.32-2.21-2.81,2.86-1.31,1.98s3.75-5.17,3.51-6.02c0,0,.37-.62,0,0-.36.63-1.77,2.19-5.96,6.04,0,0-.24.35-.74,1.01-.5.65-1.24,1.62-2.23,2.85-2,2.46-4.99,5.97-8.84,10.39-3.87,4.46-8.57,9.88-13.98,16.11-5.45,6.31-11.7,13.55-18.85,21.59"></path>
                                <path class="cls-8" d="M237.89,7.68s.34-1.23-2.06,1.86l-3.54,4.12-2.82,2.84-2.38,3.17s.03.4,1.02,1.95c.49.79,1.24,1.81,2.26,3.33.52.75,1.12,1.59,1.82,2.55.68.97,1.45,2.07,2.32,3.3,0,0,.47,1.21,1.45,3.03.49.91,1.14,1.93,1.9,3.05.77,1.13,1.69,2.31,2.78,3.48,0,0,.5.53,1.38,1.46.88.93,2.15,2.25,3.65,3.9,3.03,3.26,7.01,7.78,11.02,12.49,8.03,9.4,16.29,19.57,18.36,20.36,0,0-5.09-5.7-10.34-11.57-5.19-5.87-10.55-11.71-10.72-12.77,0,0,5.01,5.19,10.22,10.59,5.25,5.43,10.83,11.11,12.36,11.39,0,0-4.78-5.31-9.5-10.95-4.71-5.66-9.49-11.55-9.18-13.39,0,0,4.57,4.59,9.55,9.48,4.98,4.87,10.41,10,12.45,10.48,0,0-3.82-3.43-4.34-4.7l2.04,1.4-2.31-2.98-1.79-1.38s1.25.91,2.62,1.79c1.38.88,1.81,1.41,2.32,1.3,0,0,.05.08-.08,0-.59-.37-1.14-1.25-4.13-5.67,0,0-1.26-1.03-3.34-3.16-2.06-2.14-4.95-5.37-8.24-9.78-3.31-4.39-7.03-9.94-11.05-16.72-4.05-6.8-8.32-14.77-13.76-24.24"></path>
                                <polygon class="cls-8" points="218.7 73.51 226.65 80.43 249.99 48.37 218.7 73.51"></polygon>
                                <polygon class="cls-1" points="218.7 73.51 226.65 80.43 249.99 48.37 218.7 73.51 218.7 73.51"></polygon>
                                <polyline class="cls-2" points="218.7 73.51 218.7 73.51 226.65 80.43 249.99 48.37"></polyline>
                                <polygon class="cls-8" points="236.51 8.92 225.2 21.18 245.45 45.78 236.51 8.92"></polygon>
                                <polygon class="cls-8" points="257.45 30.67 268.48 20.16 253.09 38.11 257.45 30.67"></polygon>
                                <path class="cls-1" d="M256.21,50.68s6.93,8.98,6.93,9.75,6.16,8.46,6.16,8.46l-13.85-13.85.77-4.36h0Z"></path>
                                <path class="cls-4" d="M256.21,50.68h0s6.93,8.98,6.93,9.75,6.16,8.46,6.16,8.46"></path>
                                <path class="cls-1" d="M253.1,44.66s6.93,8.98,6.93,9.75,6.16,8.46,6.16,8.46l-13.85-13.85.77-4.36h0Z"></path>
                                <path class="cls-6" d="M260.03,54.4c0,.77,6.16,8.46,6.16,8.46l-13.85-13.85.77-4.36h0"></path>
                            </svg>

                        </a>
                    </div>

                    <!-- Hamburger Menu -->
                    <MudIconButton Icon="@Icons.Material.TwoTone.Menu" Color="Color.Info" OnClick="@(() => OpenDrawer(Anchor.Start))" />
                </div>
            </MudAppBar>
        </MudHidden>


        <!-- Mobile Drawer -->
        <MudDrawer @bind-Open="_open" Anchor="Anchor.Start" Elevation="1" Variant="DrawerVariant.Temporary">
            <MudDrawerHeader>
                <MudText Typo="Typo.h6">INNOXEL</MudText>
            </MudDrawerHeader>

           
            <MudNavMenu>
                <MudNavLink Icon="@Icons.Material.TwoTone.LiveHelp" Href="./renderfrag" >
                    Wissensdatenbank</MudNavLink>
                <MudNavLink Icon="@Icons.Material.TwoTone.ScreenSearchDesktop" Href="https://get.teamviewer.com/qygkh96" Target="_blank" Title="Teamviewer">
                    Teamviewer
                    </MudNavLink>

                <MudNavGroup Icon="@Icons.Material.TwoTone.Download" Title="Downloads" Expanded="false">
                    <MudNavLink Icon="@Icons.Material.TwoTone.InstallDesktop" Href="./software">Software</MudNavLink>
                    <MudNavLink Icon="@Icons.Material.TwoTone.ConnectWithoutContact" Href="./users">Partner-Login</MudNavLink>
                    <MudNavLink Icon="@Icons.Material.TwoTone.InsertDriveFile" Href="./manuals">Anleitungen</MudNavLink>
                    <MudNavLink Icon="@Icons.Material.TwoTone.InsertDriveFile" Href="./users">Musterschemata</MudNavLink>
                    <MudNavLink Icon="@Icons.Material.TwoTone.InsertDriveFile" Href="./security">CAD-Symbole</MudNavLink>
                    <MudNavLink Icon="@Icons.Material.TwoTone.School" Href="./security">EIT-Schulung</MudNavLink>
                </MudNavGroup>

                <MudNavLink Icon="@Icons.Material.TwoTone.ShoppingCart" Href="https://www.zidatech.ch/shop" Target="_blank" Title="Online Shop">
                    Online Shop
                    </MudNavLink>
                <MudNavLink Icon="@Icons.Material.TwoTone.ContactPhone" Href="./trycontact" Title="Kontakt">
                    Kontakt
                    </MudNavLink>
                <MudNavLink Icon="@Icons.Material.TwoTone.Work" Href="https://www.zidatech.ch/uebersicht-ueber-uns/stellen"  Target="_blank" Title="Offene Stellen">
                    Offene Stellen
                
                </MudNavLink>
            </MudNavMenu>
        </MudDrawer>
        </MudLayout>

    <!--
        <MudItem xs="2">
            <div style="margin:15%;" onclick="@(() => OpenDrawer(Anchor.Start))">
                    <defs>
                        <style>
                            .cls-1 {
                                stroke-miterlimit: 10;
                                stroke-width: .18px;
                            }

                            .cls-1, .cls-2, .cls-3, .cls-4 {
                                fill: none;
                            }

                            .cls-1, .cls-2, .cls-5, .cls-6, .cls-4 {
                                stroke: #fff;
                            }

                            .cls-2 {
                                stroke-width: .32px;
                            }

                            .cls-3, .cls-7, .cls-8 {
                                stroke-width: 0px;
                            }

                            .cls-7, .cls-5 {
                                fill: #3c3c3b;
                            }

                            .cls-8, .cls-6 {
                                fill: #fff;
                            }

                            .cls-5 {
                                stroke-width: 2.16px;
                            }

                            .cls-6, .cls-4 {
                                stroke-width: .05px;
                            }
              
                            .cls-9 {
                                clip-path: url(#clippath);
                            }
                        </style>
                        <clipPath id="clippath">
                            <rect class="cls-3" x="206.33" width="88.92" height="88.92"></rect>
                        </clipPath>
                    </defs>
                    
                    <g class="cls-9">
                        <path class="cls-5" d="M294.03,44.46c0,23.88-19.35,43.23-43.23,43.23s-43.23-19.35-43.23-43.23S226.92,1.23,250.8,1.23s43.23,19.35,43.23,43.23h0Z"></path>
                    </g>
                    <path class="cls-8" d="M217.57,71.34s-3.13-.94,1.8,1.32l3.86,2,2.69,1.75,2.93,1.21s.33-.17,1.58-1.71c.62-.77,1.47-1.88,2.61-3.48,1.12-1.61,2.69-3.61,4.55-6.27,0,0,.25-.23.67-.68.42-.44,1.06-1.07,1.78-1.9.73-.82,1.55-1.83,2.41-3,.85-1.18,1.82-2.45,2.7-3.92,0,0,.39-.67,1.08-1.84.72-1.15,1.76-2.79,3.01-4.77,2.57-3.9,6.16-9.01,10.23-13.95,4.04-4.95,8.58-9.79,12.24-13.83,3.66-4.04,6.3-7.32,6.64-8.41,0,0-.34.42-.93,1.15-.6.71-1.46,1.72-2.49,2.94-2.05,2.32-4.8,5.44-7.59,8.6-2.71,3.1-5.37,6.21-7.37,8.69-2.05,2.44-3.44,4.25-3.94,4.47,0,0,.27-.38.74-1.04.48-.66,1.13-1.63,2-2.75.86-1.13,1.82-2.47,2.96-3.88.56-.71,1.14-1.45,1.73-2.2.61-.75,1.23-1.51,1.85-2.28,2.51-3.07,5.16-6.22,7.2-8.86,1.02-1.3,1.88-2.5,2.5-3.44.62-.94,1-1.64,1.05-2.02,0,0-.3.39-.86,1.03-.55.64-1.35,1.57-2.31,2.68-1.93,2.19-4.56,5.06-7.2,7.92-5.33,5.69-10.4,11.72-12.06,12.06,0,0,.24-.35.67-.97.43-.62,1.03-1.51,1.81-2.56,1.53-2.12,3.63-4.95,5.9-7.84,2.24-2.9,4.64-5.89,6.48-8.42,1.85-2.53,3.13-4.62,3.33-5.6,0,0-.78,1.1-1.72,2.3-.95,1.19-2.06,2.49-2.66,2.89l1.32-2.21-2.81,2.86-1.31,1.98s3.75-5.17,3.51-6.02c0,0,.37-.62,0,0-.36.63-1.77,2.19-5.96,6.04,0,0-.24.35-.74,1.01-.5.65-1.24,1.62-2.23,2.85-2,2.46-4.99,5.97-8.84,10.39-3.87,4.46-8.57,9.88-13.98,16.11-5.45,6.31-11.7,13.55-18.85,21.59"></path>
                    <path class="cls-8" d="M237.89,7.68s.34-1.23-2.06,1.86l-3.54,4.12-2.82,2.84-2.38,3.17s.03.4,1.02,1.95c.49.79,1.24,1.81,2.26,3.33.52.75,1.12,1.59,1.82,2.55.68.97,1.45,2.07,2.32,3.3,0,0,.47,1.21,1.45,3.03.49.91,1.14,1.93,1.9,3.05.77,1.13,1.69,2.31,2.78,3.48,0,0,.5.53,1.38,1.46.88.93,2.15,2.25,3.65,3.9,3.03,3.26,7.01,7.78,11.02,12.49,8.03,9.4,16.29,19.57,18.36,20.36,0,0-5.09-5.7-10.34-11.57-5.19-5.87-10.55-11.71-10.72-12.77,0,0,5.01,5.19,10.22,10.59,5.25,5.43,10.83,11.11,12.36,11.39,0,0-4.78-5.31-9.5-10.95-4.71-5.66-9.49-11.55-9.18-13.39,0,0,4.57,4.59,9.55,9.48,4.98,4.87,10.41,10,12.45,10.48,0,0-3.82-3.43-4.34-4.7l2.04,1.4-2.31-2.98-1.79-1.38s1.25.91,2.62,1.79c1.38.88,1.81,1.41,2.32,1.3,0,0,.05.08-.08,0-.59-.37-1.14-1.25-4.13-5.67,0,0-1.26-1.03-3.34-3.16-2.06-2.14-4.95-5.37-8.24-9.78-3.31-4.39-7.03-9.94-11.05-16.72-4.05-6.8-8.32-14.77-13.76-24.24"></path>
                    <polygon class="cls-8" points="218.7 73.51 226.65 80.43 249.99 48.37 218.7 73.51"></polygon>
                    <polygon class="cls-1" points="218.7 73.51 226.65 80.43 249.99 48.37 218.7 73.51 218.7 73.51"></polygon>
                    <polyline class="cls-2" points="218.7 73.51 218.7 73.51 226.65 80.43 249.99 48.37"></polyline>
                    <polygon class="cls-8" points="236.51 8.92 225.2 21.18 245.45 45.78 236.51 8.92"></polygon>
                    <polygon class="cls-8" points="257.45 30.67 268.48 20.16 253.09 38.11 257.45 30.67"></polygon>
                    
                </svg>

            </div>
            


        </MudItem>


        
        <MudSpacer />

        


        <MudGrid>
            <MudItem xs="2">
                <div class="d-flex align-center justify-center mud-width-full py-4" ">
                    Wissensdatenbank
                </div>
            </MudItem>

            <MudDivider Vertical="true" FlexItem="true">

            </MudDivider>

            <MudItem xs="2">
                <div class="d-flex align-center justify-center mud-width-full py-4" ">
                    Teamviewer
                </div>
            </MudItem>

            <MudDivider Vertical="true" FlexItem="true">

            </MudDivider>

            <MudItem xs="2">
                <div class="d-flex align-center justify-center mud-width-full py-4" ">
                    Downloads
                </div>
            </MudItem>

            <MudDivider Vertical="true" FlexItem="true">

            </MudDivider>

            <MudItem xs="2">
                <div class="d-flex align-center justify-center mud-width-full py-4" ">
                    Referenzen
                </div>
            </MudItem>

            <MudDivider Vertical="true" FlexItem="true">

            </MudDivider>

            <MudItem xs="2">
                <div class="d-flex align-center justify-center mud-width-full py-4" ">
                    Offene Stellen
                </div>
            </MudItem>



        </MudGrid>


      
        
    </MudAppBar>  -->


     <MudMainContent>
            @Body
    </MudMainContent>
    <footer class="footer-dark">
        <div style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.5rem;
        max-width: 1200px;
        margin: 0 auto;
    ">
            <div>
                <strong>ZidaTech AG</strong><br />
                Fabrikstrasse 9, 4614 Hägendorf<br />
                <a href="mailto:info@innoxel.ch" style="color: inherit; text-decoration: none;">support@innoxel.ch</a>
                <a href="mailto:info@innoxel.ch" style="color: inherit; text-decoration: none;">info@zidatech.ch</a> <br
				<a href="" style="color: inherit; text-decoration: none;">Telefon: +41 62 209 60 30</a>
                

            </div>

            <div style="text-align: right;">
                <span>© @DateTime.Now.Year ZidaTech AG</span><br />
                <a href="./impressum" style="color: inherit; text-decoration: none; font-size: 0.9rem;">Impressum</a> |
                <a href="./privacy" style="color: inherit; text-decoration: none; font-size: 0.9rem;">Datenschutz</a>
            </div>
        </div>
    </footer>

    

</MudLayout>

<style>

    .cuddly-white-appbar {
        background-color: #1a1a1a; 
        color: #fff;
        box-shadow: 0 1px 4px rgba(0,0,0,0.3);
        padding: 0 1rem;
    }

    .logo-svg {
        width: 120%;
        height: 120%;
    }

    .appbar-scrollable {
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        flex-grow: 2;
    }

    .nav-button {
        flex: 1;
        min-width: auto;
        justify-content: center;
        margin: 0 2px;
    }

        .nav-button .mud-button-label {
            white-space: nowrap;
            font-size: 0.875rem;
        }

        .nav-button:hover {
            background-color: rgba(0, 0, 0, 0.04);
        }

    .mud-menu {
        flex: 1;
    }

        .mud-menu .mud-button {
            width: 100%;
        }

    .footer-dark {
        background-color: #1a1a1a; 
        color: #fff;
        padding: 2rem;
        border-top: 1px solid rgba(255,255,255,0.1);
        width: 100%;
    }

        .footer-dark a {
            color: #ccc; 
            text-decoration: none;
        }

            .footer-dark a:hover {
                color: #fff; 
            }


    .mud-dark-menu .mud-paper {
        background-color: #1a1a1a !important; 
        color: #fff; 
    }

    .mud-dark-menu .mud-menu-item {
        color: #fff; 
    }

        .mud-dark-menu .mud-menu-item:hover {
            background-color: rgba(255, 255, 255, 0.1); 
        }

    .mud-menu.mud-dark-menu .mud-paper {
        background-color: #1a1a1a !important; 
        color: #fff !important; 
    }

    .mud-menu.mud-dark-menu .mud-menu-item {
        color: #fff !important;
    }

        .mud-menu.mud-dark-menu .mud-menu-item:hover {
            background-color: rgba(255, 255, 255, 0.1) !important;
        }
    .mud-popover .mud-paper {
        background-color: #1a1a1a !important;
        color: #fff !important; 
    }

    .mud-popover .mud-menu-item {
        color: #fff !important;
    }

        .mud-popover .mud-menu-item:hover {
            background-color: rgba(255, 255, 255, 0.1) !important;
        }

    /* Make all MudMenu dropdowns dark */
    .mud-popover .mud-paper {
        background-color: #1a1a1a !important; /* dark background */
        color: #ffffff !important; /* white text */
    }

    /* Menu items text */
    .mud-popover .mud-menu-item {
        color: #ffffff !important;
    }

        /* Hover effect */
        .mud-popover .mud-menu-item:hover {
            background-color: rgba(255, 255, 255, 0.1) !important;
        }

        /* Optional: icons inside menu items */
        .mud-popover .mud-menu-item .mud-icon-root {
            color: #ffffff !important;
        }

    /* Only the MudPaper inside the Downloads menu */
    .mud-dark-menu + .mud-popover .mud-paper,
    .mud-dark-menu .mud-popover .mud-paper {
        background-color: #1a1a1a !important; /* dark background */
        color: #fff !important; /* white text */
    }

    .mud-dark-menu + .mud-popover .mud-menu-item,
    .mud-dark-menu .mud-popover .mud-menu-item {
        color: #fff !important;
    }

        .mud-dark-menu + .mud-popover .mud-menu-item:hover,
        .mud-dark-menu .mud-popover .mud-menu-item:hover {
            background-color: rgba(255, 255, 255, 0.1) !important;
        }

    .mud-dark-menu + .mud-popover .mud-icon-root,
    .mud-dark-menu .mud-popover .mud-icon-root {
        color: #fff !important;
    }

    /* Only the Downloads menu popover */
    .mud-dark-menu-popover .mud-paper {
        background-color: #1a1a1a !important;
        color: #fff !important;
    }

    .mud-dark-menu-popover .mud-menu-item {
        color: #fff !important;
    }

        .mud-dark-menu-popover .mud-menu-item:hover {
            background-color: rgba(255, 255, 255, 0.1) !important;
        }

    .mud-dark-menu-popover .mud-icon-root {
        color: #fff !important;
    }


    /* Only target the Downloads dropdown popover */
    .downloads-menu-popover.mud-popover .mud-paper {
        background-color: #1a1a1a !important;
        color: #fff !important;
    }

    /* Menu items inside Downloads dropdown */
    .downloads-menu-popover.mud-popover .mud-menu-item {
        color: #fff !important;
    }

        /* Hover effect for Downloads menu items */
        .downloads-menu-popover.mud-popover .mud-menu-item:hover {
            background-color: rgba(255, 255, 255, 0.1) !important;
        }

    /* Icons inside Downloads menu items */
    .downloads-menu-popover.mud-popover .mud-icon-root {
        color: #fff !important;
    }
    /* Only target the Downloads dropdown popover */
    .downloads-menu-popover.mud-popover .mud-paper {
        background-color: #1a1a1a !important;
        color: #fff !important;
    }

    /* Menu items inside Downloads dropdown */
    .downloads-menu-popover.mud-popover .mud-menu-item {
        color: #fff !important;
    }

        /* Hover effect for Downloads menu items */
        .downloads-menu-popover.mud-popover .mud-menu-item:hover {
            background-color: rgba(255, 255, 255, 0.1) !important;
        }

    /* Icons inside Downloads menu items */
    .downloads-menu-popover.mud-popover .mud-icon-root {
        color: #fff !important;
    }

    .downloads-dropdown {
        position: relative;
    }

        .downloads-dropdown .downloads-content {
            display: none;
            position: absolute;
            background-color: #1a1a1a;
            color: #fff;
            min-width: 200px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.3);
            border-radius: 4px;
            z-index: 1000;
            top: 100%;
            left: 0;
        }

            .downloads-dropdown .downloads-content a {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                padding: 0.5rem 1rem;
                color: #fff;
                text-decoration: none;
            }

                .downloads-dropdown .downloads-content a:hover {
                    background-color: rgba(255, 255, 255, 0.1);
                }

        /* Show dropdown on hover */
        .downloads-dropdown:hover .downloads-content {
            display: block;
        }

</style>


@code {


    [Inject] private IJSRuntime JS { get; set; }

    bool _drawerOpen = true;
    private bool _open;
    private Anchor _anchor;
    private bool _overlayAutoClose = true;
    private MudThemeProvider? _mudThemeProvider;



    private bool _isDarkMode = false;
    private string _themeIcon => _isDarkMode ? Icons.Material.TwoTone.DarkMode :Icons.Material.TwoTone.LightMode;



    private MudTheme _lightTheme = new MudTheme()
    {
        PaletteLight = new PaletteLight()
        {
            Primary = Colors.Blue.Default,
            Surface = Colors.Gray.Lighten5,
            Background = Colors.Shades.White,
            AppbarBackground = Colors.Blue.Default,
            Info = Colors.Blue.Darken3,
            TextPrimary = Colors.Shades.Black,
			Tertiary = Colors.Red.Accent4
        },

        Typography = new Typography()
        {

            Default = new DefaultTypography()
            {
                FontFamily = new[] { "Gotham", "Arial", "sans-serif" },
                FontWeight = "400"
            },
            H1 = new H1Typography()
            {
                FontFamily = new[] { "Gotham", "Arial", "sans-serif" },
                FontWeight = "700",
                FontSize = "2.5rem",
            },
            Button = new ButtonTypography()
            {
                FontFamily = new[] { "Gotham", "Arial", "sans-serif" },
                FontWeight = "700"
            }
        }
    };

    private MudTheme _darkTheme = new MudTheme()
    {
        PaletteDark = new PaletteDark()
        {
            Primary = Colors.Gray.Darken3,
            Surface = Colors.Gray.Darken3,
            Background = Colors.Gray.Darken4,
            AppbarBackground = Colors.Gray.Darken4,
			Info = Colors.Blue.Lighten1,
            TextPrimary = Colors.Shades.White
        },
        Typography = new Typography()
        {
            Default = new DefaultTypography()
            {
                FontFamily = new[] { "Gotham", "Arial", "sans-serif" },
                FontWeight = "400"
            },
            H1 = new H1Typography()
            {
                FontFamily = new[] { "Gotham", "Arial", "sans-serif" },
                FontWeight = "700",
                FontSize = "2.5rem",
            },
            Button = new ButtonTypography()
            {
                FontFamily = new[] { "Gotham", "Arial", "sans-serif" },
                FontWeight = "700"
            }
        }

    };

    private MudTheme _currentTheme;

    protected override void OnInitialized()
    {
        _currentTheme = _lightTheme;
    }

    private void ToggleTheme()
    {
        _isDarkMode = !_isDarkMode;
        _currentTheme = _isDarkMode ? _darkTheme : _lightTheme;
    }


    private void OpenDrawer(Anchor anchor)
    {
        _open = true;
        _anchor = anchor;


        // Really important Cheat as when User is at the bottem of the page but opens drawer it looks
        // really stupid JE!!!!

        JS.InvokeVoidAsync("window.scrollTo", 0, 0);

    }




 
    
  

}